.product-description{
}

.block-heading {
    color: #000000;
    text-align: center;
    margin-bottom: 2rem;
}
.summary {
    border-top: 2px solid #5ea4f3;
    background-color: #f7fbff;
	padding: 1.5rem;
    border-radius: 0.25rem;
}
.summary>a{
    background-color: #3b99e0;
    color: #fff;
    border: none;
}